<div class="sheet-tabs">
  <ul *ngFor="let sheet of data.sheets">
    <button (click)="selectSheet(sheet)">
      {{ sheet.sheetName }}
    </button>
  </ul>
</div>
<form>
  <table>
    <thead>
      <th *ngFor="let header of sheetTableData.columns">
        <div class="d-flex flex-row">
          <span>
            {{header.colName}}
          </span>
          <mat-icon *ngIf="sortDirection=='asc'" style="font-size: 20px;" (click)="sortTable(header.colName)">arrow_downward</mat-icon>
          <mat-icon *ngIf="sortDirection=='desc'" style="font-size: 20px;" (click)="sortTable(header.colName)">arrow_upward</mat-icon>
        </div>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of sheetTableData.data;let i=index">
        <td *ngFor="let header of sheetTableData.columns">
          <span *ngIf="header.type=='textField'">
            <input type="text" class="form-control" 
            placeholder="heading" value="{{item[header.colName]}}"
            (keyup)="onChangeFunction($event,item.id,header.colName)"/>
          </span>
          <span *ngIf="header.type=='selectField'" >
            <select class="form-select" (change)="onChangeFunction($event,item.id,header.colName)" value="{{item[header.colName]}}">
              <option *ngFor="let item of header.selectOptions" value="{{item}}">
                {{item}}
              </option>
            </select>
          </span>
          <span *ngIf="header.type=='normal'">
            {{item[header.colName]}}
          </span>
          <span *ngIf="header.type=='delete'">
            <mat-icon (click)="deleteRow(item.id)">delete_forever</mat-icon>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex flex-row justify-content-between mt-3">
    <div class="d-flex flex-row ms-5" (click)="addRow()">
      <mat-icon>library_add</mat-icon>
      <span class="ms-1">Add Row</span>
    </div>
    <div class="d-flex flex-row ms-5" (click)="addColumn()">
      <mat-icon>library_add</mat-icon>
      <span class="ms-1">Add Column</span>
    </div>
    <button class="btn btn-primary me-5" (click)="submit()">Submit</button>
  </div>
</form>
